.groupy {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.groupy-content {
  display: flex;
  flex: 1;
}

.groupy-middle {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


