.main {
  display: flex;
  flex-direction: column;
  margin-right: -150px;
  gap: 60px;
  height: 650px;
  border: 2px solid aqua;
  .container {
    height: 200px;
    width: 200px;
    // background-color: orange;
  }
}
