.mainz {
  display: flex;
  height: 80vw;
  // width: 1150px;
  height: fit-content;
  background-color: yellow;

  // margin-top: -40px;
  // margin-left: 20px;
  //width: 580px;
  // height: 519px;
  // top: 631px
  // left: 320px
  border: 2px solid black;

  .bottom {
    display: flex;
    border: 2px solid salmon;
    flex-direction: column;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }
}
