.main{
    display: flex;
    
    width: 1150px;
    height:fit-content;
    background-color: yellow;
    margin-top: -40px;
    margin-left: 20px;
    .bottom{
        display: flex;
        flex-direction: row;
    }

    .cards{
        display: flex;
        flex-direction: column;
    }
    
}