.intro{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 241, 241);
    width: 264px;
    height: 302px;
    margin-bottom: 20px;
}